<section class="hero is-fullheight">
  <div class="hero-head">
    <header class="hero is-link is-bold">
      <div class="hero-body">
        <div class="container">
          <p class="title">Chat Interface</p>
          <p class="subtitle">The following is a conversation with an AI assistant. The assistant is helpful, creative,
            clever, and very friendly.</p>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div id="chat" style="width: 100%;">
    </div>
  </div>
  <div class="hero-foot">
    <footer class="section is-small">
      <form>
        <div class="field has-addons">
          <div class="control is-expanded"><input type="text" class="input" id="chat-input"
              placeholder="Type your message"></div>
          <div class="control"><button id="chat-submit" class="button is-info">Send</button></div>
        </div>
      </form>
    </footer>
  </div>
</section>